.Flex {
    display: flex;
}

body {
    margin: 0 50px;
}

a {
    text-decoration: none;
    color: inherit;
}
 ul {
    list-style-type: none;
 }

/*------------HEADER----------------------------*/
.Titre {
    height: 40px;
    justify-content: space-between;
    margin: 20px;
}

nav li {
    padding: 0 25px;
}

nav a {
    color: rgb(0, 101, 252);
    font-size: 1.1em;
}

nav a:active {
    background-color: rgb(227, 233, 235);
    border-bottom: solid 1px rgb(0, 101, 252);
}

#nav_activites {
    color: rgb(88, 86, 86);
}

ul :nth-child(3) {
    font-weight: bold;
}

header h1 {
    font-size: 2em;
    margin: 40px 0 10px 20px;
}

#Sous_titre {
    font-size: 1.2em;
    margin-left: 20px;
}

/*--------------Barre de recherche--------------*/

#Recherche {
   margin-left: 20px;
}

.fa-map-marker-alt {
    background-color: rgb(242, 242, 242);
    width: 50px;
    height: 36px;
    text-align: center;
    padding-top: 14px;       /*Trouver uen meilleure solution pour centrer l'icône*/
    vertical-align: middle;
    border-radius: 10px 0 0 10px;
}

input {
    height: 45px;
    width: 180px;
    border: rgb(242, 242, 242) solid 0.5px;
    font-size: 1em;
}

#Recherche button {
    width: 100px;
    height: 49px;
    color: white;
    background-color: rgb(0, 101, 252);   /* Ajouter animation au click sur le boutton*/
    border: rgb(0, 101, 252) solid 1px;
    border-radius: 0 20px 20px 0;
}

/*--------------Barre de recherche--------------*/
/*--------------Filtres------------------------*/

.Filtres {
    height: 50px;
    font-size: 1em;
    margin-bottom: 10px;
}

.Filtres h3 {
    padding: 0 20px;
}
                            /*----Corriger les boutons filtres----*/
.bouton {
    border: rgb(217, 217 , 217) solid 2px;
    background-color: white;
    height: 40px;
    border-radius: 2rem;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.Ico_filtres {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(222, 235, 255);
    border-radius: 1rem;
}

.Ico {
    color: rgb(0, 101, 252);
}

/*--------------Filtres------------------------*/

.Ico_info {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border: rgb(217, 217 , 217) solid 2px;
    border-radius: 1rem;
    margin-right: 10px;
}

.fa-info {
    margin: auto;
    font-size: 0.7em;
    color: rgb(0, 101, 252);
}

#Info {
    font-size: 1.1em;
    margin-top: 2px;
}

/*------------HEADER----------------------------*/

/*------------SECTION---------------------------*/
/*------------Hébergements----------------------*/

#Hebergements {
    background-color: rgb(242, 242, 242);
    width: 850px;
    height: 620px;
    margin-top: 20px;
}

#Hebergements_images {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

#Hebergements h1 {
    min-width: 850px;
    height: 30px;
    padding-left: 30px;
}

/*------------Hébergements----------------------*/
/*------------Populaires-----------------------*/

.Populaires {
    background-color: darkgreen; /* couleur temporaire, vraie couleur = rgb (242, 242, 242)*/
}

/*------------Populaires-----------------------*/
/*------------Activités-----------------------*/

#Activites {
    background-color: darkmagenta; /* couleur temporaire, vraie couleur = white*/
}


/*------------Activités-----------------------*/
/*------------SECTION---------------------------*/

/*------------FOOTER---------------------------*/

footer {
    background-color: darkorange; /* couleur temporaire, vraie couleur = rgb (242, 242, 242)*/
}

/*------------FOOTER---------------------------*/